/* 
    IBM In-house {Web Coder} course Assignment Snippet.
    CSS styling slave file.
    For internal IBM learning usage.
*/


/*  ----- HTML Body Styles -----  */
body {
  /* Position: relative; */
  margin: 0;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: white;
  padding-top: 75px; 
  background-image: url("../image/the-witcher-featured-image-970x545.jpg");
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
/* .display-4 {
  font-family: "Morpheus", Arial, Helvetica, sans-serif
} */
.read-more-state {
  display: none;
}

.read-more-wrap {
  font-size: 16pt;
  padding-left: 20px;
  /* float: left; */
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
}
#About {
  background-color: black;
  opacity: 0.9;
  color: white;
  margin-left: 150px;
  margin-right: 150px;
  /* margin-top: 50px; */
  padding: 50px 60px 0px 60px;
  
}

#Games {
  padding-top: 50px;
}

#summary{
  background-color: black;
  opacity: 0.9;
  color: silver;
}

#Trailers {
padding-top: 50px;
}

.article-thumb {
  /* border-radius: 50%; */
  float: right;
  /* display: block; */
  /* height: 50px; */
  /* width: 30wv; */
  /* max-width: 25vh; */
  /* max-height: 25vh; */
  /* margin-left: 20px; */
  /* margin-bottom: 10px; */
}

#pic {
  width: 30vh;
  /* float: right; */
}

.caption {
  word-wrap: inherit;
  max-width: 30vh;
}

html {
  font-size: 14px;
  height: 100%;
  box-sizing: border-box;
}

nav > a > img {
  height: 25px;
}

.jumbotron{
  background-image: url("../image/witcher_wide.jpg");
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: unset;
  background-position: center;
  color: white;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.btn {
  background-color: black;
  color: white;
  font-size: 16px;
  /* margin: 2px; */
  padding: 4px;
  border-color: silver;
}

.dropbtn {
    background-color: black;
    color: white;
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 6px;
    margin: 4px;
    border-color: silver;
}

/* The container <div> - needed to position the dropup content */
.dropup {
    position: relative;
    display: inline-block;
    margin: 4px;
    /* padding: 4px; */
}

/* Dropup content (Hidden by Default) */
.dropup-content {
    display: none;
    position: absolute;
    top: auto;
    bottom: 100%;
    background-color: silver;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 20px;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

/* Links inside the dropup */
.dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropup links on hover */
.dropup-content a:hover {
  background-color: gray;
  border-radius: 20px;
}

/* Show the dropup menu on hover */
.dropup:hover .dropup-content {
    display: block;
}

/* Change the background color of the dropup button when the dropup content is shown */
.dropup:hover .dropbtn {
    background-color: rgb(115, 115, 119);
}

#xbox {
color: rgb(0, 184, 0);
}

#ps4 {
  color: blue;
}

  /* Box-sizing */
  .selector-for-some-widget {
      box-sizing: content-box;
  }

  /* LAYOUT - Responsive breakpoints */
  /* // Extra small devices (portrait phones, less than 576px) */
  @media (max-width: 575px) {  

  }

  /* // Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767px) {  

  }

  /* // Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991px) {  

  }

  /* // Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199px) {  
      
  }

  /* // Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  

  }


