html {
	font-size: 14px;
	height: 100%;
	/* box-sizing: border-box; */
  }

body {
  	/* Position: relative; */
  	margin-bottom: 0;
  	min-height: 100%;
  	font-family: "Helvetica Neue", Arial, sans-serif;
  	color: white;
  	background-image: url("../image/the-witcher.jpg");
  	display: block;
  	float: inherit;
  	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.read-more-state {
	display: none;
}

.read-more-wrap {
	font-size: 14pt;
}

.read-more-target {
	opacity: 0;
	max-height: 0;
	font-size: 0;
	transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
	opacity: 1;
	font-size: inherit;
	max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
	content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
	content: 'Show less';
}

.read-more-trigger {
	cursor: pointer;
	display: inline-block;
	padding: 0 .5em;
	color: #666;
	font-size: .9em;
	line-height: 2;
	border: 1px solid #ddd;
	margin-bottom: 3rem;
}
#About {
	background-color: black;
	opacity: 0.8;
	color: white;
	padding-left: 3vh;
	padding-right: 2vh;
	padding-top: 3vh;
	margin-top: 2vh;
}

.article-thumb {
	float: right;
	padding-right: 4vh;
	padding-top: 3vh;
	margin-right: 4vh;
}
  
#pic {
	width: 32vh;
}
  
.caption {
	word-wrap: inherit;
	max-width: 32vh;
}

#Games {
	padding-top: 1vh;
}

#summary{
	background-color: black;
	opacity: 0.9;
	color: silver;
}

#Trailers {
	padding-top: 1vh;
}

.embed-responsive {
	margin-bottom: 1vh;
}

nav > a > img {
	height: 20px;
}

/* .img-responsive {
	display: block;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-size: 100% 100%;
} */

.jumbotron {
	background-image: url("../image/witcher_wide1.jpg");
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 30vw;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10vh;
}

.btn {
	background-color: black;
	color: white;
	font-size: 16px;
	padding: 4px;
	border-color: silver;
}

.dropbtn {
	background-color: black;
	color: white;
	font-size: 16px;
	padding-top: 4px;
	padding-bottom: 6px;
	margin: 4px;
	border-color: silver;
}

/* The container <div> - needed to position the dropup content */
.dropup {
	position: relative;
	display: inline-block;
	margin: 4px;
	/* padding: 4px; */
}

/* Dropup content (Hidden by Default) */
.dropup-content {
	display: none;
	position: absolute;
	top: auto;
	bottom: 100%;
	background-color: silver;
	min-width: 90px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	border-radius: 20px;
	text-align: justify;
	-moz-text-align-last: center;
	text-align-last: center;
}

/* Links inside the dropup */
.dropup-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropup links on hover */
.dropup-content a:hover {
	background-color: gray;
	border-radius: 20px;
}

/* Show the dropup menu on hover */
.dropup:hover .dropup-content {
	display: block;
}

/* Change the background color of the dropup button when the dropup content is shown */
.dropup:hover .dropbtn {
	background-color: rgb(115, 115, 119);
}

#xbox {
	color: rgb(0, 184, 0);
}

#ps4 {
	color: blue;
}

#books {
	background-image: url(../image/the_witcher_gwent.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 1vh 2% 1vh 2%;
	margin-left: 2vw;
	margin-right: 2vw;
	/* margin-top: 10vh; */
	text-shadow: 2px 2px 4px #000000;
}

@font-face {
	font-family: Morpheus;
	src: url(../css/MORPHEUS.TTF);
}

#promo {
	padding: 2vh 2vw 1vh 2vw;
	color: white;
	font-family: Morpheus;
}

#school {
	margin-top: 1vh;
}

#schoollink {
	display: block;
    margin: auto;
	text-align: center;
	/* margin-top: 1vh; */
}

#larp {
	background-color: #000000;
	opacity: 0.8;
	padding-top: 1vh;
	margin-top: 1vh;
	margin-bottom: 1vh;
}

#signup {
	margin-top: 1vh;
	padding-top: 1vh;
	background-color: black;
	opacity: 0.8;
}

#shop {
	background-color: black;
	opacity: 0.8;
	padding-top: 2vh;
	/* padding-bottom: 1vh; */
	/* margin-top: 1vh; */
	/* vertical-align: middle; */
}

#shoppromo { 
	font-size: 20px;
}

.vertical-align-wrap {
	position: relative;
	width: 100%;
	height: 100%;
	display: table;
}

.vertical-align {
	/* background: white; */
	display: table-cell;
}

.vertical-align--middle {
	vertical-align: middle;
}

#map {
	padding-left: 1vw;
	padding-right: 1vw;
}

#wowslider-container1 { 
	display: table;
	zoom: 1; 
	position: relative;
	width: 100%;
	max-width: 640px;
	max-height:480px;
	/* margin:19px auto 17px; */
	z-index:90;
	text-align:left; /* reset align=center */
	font-size: 10px;
	text-shadow: none; /* fix some user styles */

	/* reset box-sizing (to boostrap friendly) */
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box; 
}
* html #wowslider-container1{ width:640px }
#wowslider-container1 .ws_images ul{
	position:relative;
	width: 10000%; 
	height:100%;
	left:0;
	list-style:none;
	margin:0;
	padding:0;
	border-spacing:0;
	overflow: visible;
	/*table-layout:fixed;*/
}
#wowslider-container1 .ws_images ul li{
	position: relative;
	width:1%;
	height:100%;
	line-height:0; /*opera*/
	overflow: hidden;
	float:left;
	/*font-size:0;*/
	padding:0 0 0 0 !important;
	margin:0 0 0 0 !important;
}

#wowslider-container1 .ws_images{
	position: relative;
	left:0;
	top:0;
	height:100%;
	max-height:480px;
	max-width: 640px;
	vertical-align: top;
	border:none;
	overflow: hidden;
}
#wowslider-container1 .ws_images ul a{
	width:100%;
	height:100%;
	max-height:480px;
	display:block;
	color:transparent;
}
#wowslider-container1 img{
	max-width: none !important;
}
#wowslider-container1 .ws_images .ws_list img,
#wowslider-container1 .ws_images > div > img{
	width:100%;
	border:none 0;
	max-width: none;
	padding:0;
	margin:0;
}
#wowslider-container1 .ws_images > div > img {
	max-height:480px;
}

#wowslider-container1 .ws_images iframe {
	position: absolute;
	z-index: -1;
}

#wowslider-container1 .ws-title > div {
	display: inline-block !important;
}

#wowslider-container1 a{ 
	text-decoration: none; 
	outline: none; 
	border: none; 
}

#wowslider-container1  .ws_bullets { 
	float: left;
	position:absolute;
	z-index:70;
}
#wowslider-container1  .ws_bullets div{
	position:relative;
	float:left;
	font-size: 0px;
}
/* compatibility with Joomla styles */
#wowslider-container1  .ws_bullets a {
	line-height: 0;
}

#wowslider-container1  .ws_script{
	display:none;
}
#wowslider-container1 sound, 
#wowslider-container1 object{
	position:absolute;
}

/* prevent some of users reset styles */
#wowslider-container1 .ws_effect {
	position: static;
	width: 100%;
	height: 100%;
}

#wowslider-container1 .ws_photoItem {
	border: 2em solid #fff;
	margin-left: -2em;
	margin-top: -2em;
}
#wowslider-container1 .ws_cube_side {
	background: #A6A5A9;
}


#wowslider-container1.ws_gestures {
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAABwSURBVEjH7ZJBEsAgCAMT/v/n9NCOSqe2oD2yNx1JggB4BCEFWyFASP2KMQE7ywWhe/tTRGCGogLk02tFctiW/SUgaMyQG4PdPzDn31rQbMb8FiAXgvsEJNax1yVlVGAjA93apP3HFhZTGIqiKH7iADB6HxPlHdNVAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE0LTA3LTA3VDEzOjQ5OjEwKzAyOjAwm7WiFAAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNC0wNy0wN1QxMzo0OToxMCswMjowMOroGqgAAAAASUVORK5CYII="), move;
}
#wowslider-container1.ws_gestures.ws_grabbing {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAABaSURBVEjH7ZMxCkAhDEOT8u9/5TpJ+xWkFse8IYutJgEB8RCHL1qCc90BEFnT6QH7mwgFHBUf8wJyS1TDLuc3vmighx37LZdIth3E5hKj9n6O0HRh+oJCiFcMxRUUDxR1CTMAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTQtMDctMDdUMTM6NDk6MzgrMDI6MDDqf+sOAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE0LTA3LTA3VDEzOjQ5OjM4KzAyOjAwmyJTsgAAAABJRU5ErkJggg=="), move;
}

/* hide controls when video start play */
#wowslider-container1.ws_video_playing .ws_bullets,
#wowslider-container1.ws_video_playing .ws_fullscreen,
#wowslider-container1.ws_video_playing .ws_next,
#wowslider-container1.ws_video_playing .ws_prev {
	display: none;
}


/* youtube/vimeo buttons */
#wowslider-container1 .ws_video_btn {
	position: absolute;
	display: none;
	cursor: pointer;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 55;
}
#wowslider-container1 .ws_video_btn.ws_youtube,
#wowslider-container1 .ws_video_btn.ws_vimeo {
	display: block;
}
#wowslider-container1 .ws_video_btn div {
	position: absolute;
	background-image: url(./playvideo.png);
	background-size: 200%;
	top: 50%;
	left: 50%;
	width: 7em;
	height: 5em;
	margin-left: -3.5em;
	margin-top: -2.5em;
}
#wowslider-container1 .ws_video_btn.ws_youtube div {
	background-position: 0 0;
}
#wowslider-container1 .ws_video_btn.ws_youtube:hover div {
	background-position: 100% 0;
}
#wowslider-container1 .ws_video_btn.ws_vimeo div {
	background-position: 0 100%;
}
#wowslider-container1 .ws_video_btn.ws_vimeo:hover div {
	background-position: 100% 100%;
}

#wowslider-container1 .ws_playpause.ws_hide {
	display: none !important;
}

#wowslider-container1  .ws_bullets { 
	padding: 5px; 
}
#wowslider-container1 .ws_bullets a { 
	width:20px;
	height:21px;
	background: url(../javascript/bullet.png) left top;
	float: left; 
	text-indent: -4000px; 
	position:relative;
	margin-left:7px;
	color:transparent;
}

#wowslider-container1 .ws_bullets a.ws_selbull, #wowslider-container1 .ws_bullets a:hover{
	background-position: 0 100%;
}
#wowslider-container1 a.ws_next, #wowslider-container1 a.ws_prev {
	background-size: 200%;
	position:absolute;
	top:50%;
	margin-top:-2em;
	z-index:60;
	height: 3.9em;
	width: 7em;
	background-image: url(../javascript/arrows.png);
}
#wowslider-container1 a.ws_next{
	background-position: 100% 0;
	right:0.5em;
}
#wowslider-container1 a.ws_prev {
	left:0.5em;
	background-position: 0 0; 
}

/*playpause*/
#wowslider-container1 .ws_playpause {
    width: 5.8em;
    height: 5.8em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -1.9em;
    margin-top: -2.9em;
    z-index: 59;
	background-size: 100%;
}

/* #wowslider-container1 .ws_pause {
    background-image: url(./pause.png);
}

#wowslider-container1 .ws_play {
    background-image: url(./play.png);
} */

#wowslider-container1  .ws_bullets {
	bottom: 5px;
	right:5px;
}

#wowslider-container1 .ws-title{
	position:absolute;
	display:block;
	font: 3em 'Lobster', Comic Sans MS, cursive;
	bottom: 1.2em;
	left: 0;
	z-index: 50;
	margin-right: 0.4em; 
	padding:0.3em;
	color:#664b2b;
	background:#e7d7c3;
	line-height: 1.2em;
	border-radius:0 0.2em 0.2em 0;
	-moz-border-radius:0 0.2em 0.2em 0;
	-webkit-border-radius:0 0.2em 0.2em 0;
	box-shadow: 0.1em 0 0.15em rgba(114, 82, 45, 0.6);
	-moz-box-shadow: 0.1em 0 0.15em rgba(114, 82, 45, 0.6);	
	-webkit-box-shadow: 0.1em 0 0.15em rgba(114, 82, 45, 0.6);	
}
#wowslider-container1 .ws-title div{
	font-family:"Palatino Linotype","Book Antiqua",Palatino,serif;
	color:#473520;
	font-size: 0.666em;
	line-height: 1.1em;
}#wowslider-container1 .ws_images > ul{
	animation: wsBasic 32s infinite;
	-moz-animation: wsBasic 32s infinite;
	-webkit-animation: wsBasic 32s infinite;
}
@keyframes wsBasic{0%{left:-0%} 6.25%{left:-0%} 12.5%{left:-100%} 18.75%{left:-100%} 25%{left:-200%} 31.25%{left:-200%} 37.5%{left:-300%} 43.75%{left:-300%} 50%{left:-400%} 56.25%{left:-400%} 62.5%{left:-500%} 68.75%{left:-500%} 75%{left:-600%} 81.25%{left:-600%} 87.5%{left:-700%} 93.75%{left:-700%} }
@-moz-keyframes wsBasic{0%{left:-0%} 6.25%{left:-0%} 12.5%{left:-100%} 18.75%{left:-100%} 25%{left:-200%} 31.25%{left:-200%} 37.5%{left:-300%} 43.75%{left:-300%} 50%{left:-400%} 56.25%{left:-400%} 62.5%{left:-500%} 68.75%{left:-500%} 75%{left:-600%} 81.25%{left:-600%} 87.5%{left:-700%} 93.75%{left:-700%} }
@-webkit-keyframes wsBasic{0%{left:-0%} 6.25%{left:-0%} 12.5%{left:-100%} 18.75%{left:-100%} 25%{left:-200%} 31.25%{left:-200%} 37.5%{left:-300%} 43.75%{left:-300%} 50%{left:-400%} 56.25%{left:-400%} 62.5%{left:-500%} 68.75%{left:-500%} 75%{left:-600%} 81.25%{left:-600%} 87.5%{left:-700%} 93.75%{left:-700%} }

#wowslider-container1  .ws_shadow{
	background-image: url(../javascript/bg.png);
	background-repeat: no-repeat;
	background-size:100%;
	position:absolute;
	z-index: -1;
	left:-5.16%;
	top:-3.96%;
	width:110.31%;
	height:107.5%;
}
* html #wowslider-container1 .ws_shadow{/*ie6*/
	background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader( src='javascript/bg.png', sizingMethod='scale');
}
*+html #wowslider-container1 .ws_shadow{/*ie7*/
	background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader( src='javascript/bg.png', sizingMethod='scale');
}
#wowslider-container1 .ws_bullets  a img{
	text-indent:0;
	display:block;
	bottom:20px;
	left:-60px;
	visibility:hidden;
	position:absolute;
	box-shadow: 0 1px 3px rgba(46, 15, 0, 0.4);
	-moz-box-shadow: 0 1px 3px rgba(46, 15, 0, 0.4);	
	-webkit-box-shadow:0 1px 3px rgba(46, 15, 0, 0.4);
	border: 3px solid #edd8a3;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	max-width:none;
}
#wowslider-container1 .ws_bullets a:hover img{
	visibility:visible;
}

#wowslider-container1 .ws_bulframe div div{
	height:90px;
	overflow:visible;
	position:relative;
}
#wowslider-container1 .ws_bulframe div {
	left:0;
	overflow:hidden;
	position:relative;
	width:120px;
	background-color:#edd8a3;
}
#wowslider-container1  .ws_bullets .ws_bulframe{
	display:none;
	bottom:24px;
	overflow:visible;
	position:absolute;
	cursor:pointer;
	box-shadow: 0 1px 3px rgba(46, 15, 0, 0.4);
	-moz-box-shadow: 0 1px 3px rgba(46, 15, 0, 0.4);	
	-webkit-box-shadow:0 1px 3px rgba(46, 15, 0, 0.4);
	border: 3px solid #edd8a3;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
#wowslider-container1 .ws_bulframe span{
	display:block;
	position:absolute;
	bottom:-8px;
	margin-left:-1px;
	left:60px;
	background:url(./triangle.png);
	width:15px;
	height:6px;
}
#wowslider-container1 .ws_bulframe div div{
	height: auto;
}

@media all and (max-width:760px) {
	#wowslider-container1 .ws_fullscreen {
		display: block;
	}
}
@media all and (max-width:400px){
	#wowslider-container1 .ws_controls,
	#wowslider-container1 .ws_bullets,
	#wowslider-container1 .ws_thumbs{
		display: none
	}
}

  /* LAYOUT - Responsive breakpoints */
  /* // Extra small devices (portrait phones, less than 576px) */
  /* @media (max-width: 575px) {  

  } */

  /* // Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767px) {  

  }

  /* // Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991px) {  

  }

  /* // Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199px) {  
      
  }

  /* // Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  

  }


